html {
    @include antialiasing(pixel);

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: color($gray, darkest);

    * {
        box-sizing: border-box;
        position: relative;

        &:after,
        &:before {
            box-sizing: border-box;
        }
    }
}

